<form action="/bookmarks" method="post">
  <label for="url">URL:</label><br>
  <input type="text" name="url" ><br>
  <label for="title">Title:</label><br>
  <input type="text" name="title" ><br>
  <input type="submit" name="submit" value="Submit">
</form>

</form>

<h> All Bookmarks: </h>

<ol>
  <% @bookmarks.each do |bookmark| %>
    <li>
      <%= bookmark.title %>: <a href="<%= bookmark.url %>"> <%= bookmark.url %> </a> 
      <form action="/delete-bookmarks" method="post">
        <input type="hidden" name="title" value="<%= bookmark.title %>">
        <input type="submit" name="<%= bookmark.title %>" value="Delete">
      </form>
      <form action="/bookmarks/<%= bookmark.id %>/edit" method="get">
        <input type="submit" value="Update"/>
      </form>  
    </li>
  <% end %>
</ol>
